#movie-details {
  /* height: 150vh; */
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5vh auto auto auto;
  background-color: rgb(21, 21, 20);
}
.container {
  display: grid;
  height: 66%;
  max-height: 150vh;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 2fr;
  background-color: rgb(21, 21, 20);
  /* border: 1px solid yellow; */
  padding: 20px;
  grid-gap: 0.2rem;
  grid-template-areas:
        "title title rating"
        "poster poster short-details"
        "details details watchlist";
}
#title-container {
  /* background-color: white; */
  grid-area: title;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rating-container {
  grid-area: rating;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
  font-weight: 800;
  font-size: 20px;
}
#poster-container {
  grid-area: poster;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#poster-container >img{
  height: 300px;
  width: 300px;
}
#short-details-container{
  grid-area: short-details;
  padding: 10px 0px 0px 10px;
}
#details-container {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 1px;
}
#details-container>p {
  padding: 0px 0px 0px 10px;
}
#watchlist-container {
  grid-area: watchlist;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
}
#icon-container>i{
  font-size: 50px;
  color: yellow;
  padding: 10px;
}
#cast-container {
  grid-area: cast;
  width: 100%;
  margin: auto;
  height:33% ;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 40px;
 
}
#cast-container>ul {
  list-style-type: none;
}
  #cast-container>ul>li{
    color: black;
  }
@media only screen and (max-width:820px) {
    .container {
      grid-template-columns: 1fr;
      max-height: 250vh;
      margin-top: 5vh;
      grid-template-rows: 0.5fr 2fr 2fr 2fr 0.5fr 0.5fr;
      grid-template-areas:
        "title" 
        "poster" 
        "short-details"
        "details"
        "rating"
        "watchlist";
    }
  }

