nav{
    width: 100%;
    height:10vh;
    background-color: rgb(23, 22, 22); 
    position: fixed;
    top:0px;
}

.nav-container{
    width: 90%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"logo search fav" ;
    position: fixed;
    top:0px;
    left:5vw;

}
#logo-icon-container{
    height: 100%;
    /* border: 1px solid red; */
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 100px;
    height: 30px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* padding: 30px; */
   
}
#logo>h1{
    color:black;
    font-weight: 300px;
    padding: 10px;
}
#search-container{
    height: 100%;
    /* border:1px solid red; */
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar{
    width: 80%;
    height: 60%;
    padding: 0 25px;
    color: black;
}
#fav-icon-container{
    height: 100%;
    /* border: 1px solid red; */
    grid-area: fav;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 550px) {
    nav{
        height: 15vh;
    }
    .nav-container {
      grid-template-columns: 1fr 1fr;
      height: 15vh;
      grid-template-rows:1fr 1fr;
      grid-template-areas: "logo fav"
      "search search";
    }
  }

  #search-result-container{
    width: 56.6vw;
    border: 1px solid red;
    border: none;
    position: absolute;
    top: 9vh;
    left: 21.2vw;
    background-color: aliceblue;
    overflow-y: auto;
    list-style-type: none;

}
#search-result-container>li{
    padding: 15px; 
}
.hide-search-container{
    display: none;
}