#movie-details {
  /* height: 150vh; */
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20vh auto auto auto;
  background-color: rgb(21, 21, 20);
  overflow-x: hidden;
}
.container {
  display: grid;
  height: 66%;
  max-height: 150vh;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  background-color: rgb(21, 21, 20);
  /* border: 1px solid yellow; */
  padding: 20px;
  grid-gap: 0.2rem;
  grid-template-areas:
    "title title rating"
    "poster poster short-details"
    "details details watchlist";
}
#title-container {
  /* background-color: white; */
  grid-area: title;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#rating-container {
  grid-area: rating;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 800;
  font-size: 20px;
}
#poster-container {
  grid-area: poster;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#poster-container > img {
  height: 400px;
  width: 300px;
}
#short-details-container {
  grid-area: short-details;
  padding: 10px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#details-container {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 1px;
}
#details-container > p {
  padding: 0px 0px 0px 10px;
}
#watchlist-container {
  grid-area: watchlist;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#watchlist-container>button {
  height: 100px;
  width: 100px;
  border: 0px;
  background-size: cover;

}

#watchlist-container>.fav-button{
  background: url(https://cdn-icons-png.flaticon.com/512/4493/4493782.png);
  background-size: cover;

}

#watchlist-container>.un-fav-button{
  background: url(https://cdn-icons-png.flaticon.com/512/1828/1828817.png);
  background-size: cover;
 
}

#cast-container {
  grid-area: cast;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 40px 20px;
}
#cast-container > ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#cast-container > ul > li {
   height: 200px;
   width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  /* overflow: hidden; */
  margin: 10px;

}
.cast-image-container{
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: rgb(19, 20, 19);

}
#movie-cast > li>h4{
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}
 .cast-image-container>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#similar-movie-container{
  display: flex;
  justify-content: start;
  align-items: center;
  padding:30px 0px;
  background-color: rgb(21, 21, 20);
  width: 100%;
  margin:10vh auto;
  flex-wrap: wrap;
}
#similar-movie-list{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.similar-movie-card{
  height: 300px;
  width: 150px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin:20px 10px;
  overflow: hidden;
  position: relative;
}
.similar-movie-img-container{
  width: 100%;
  height: 70%;
}
.similar-movie-img-container>a>img{
  height: 100%;
  width: 100%;
  border: 1px solid black;  
}
.similar-movie-discription{
  width: 100%;
  height: 40%;
  overflow: hidden;
  padding: 2px;
}
.similar-movie-discription>h1{
  
}
.similar-movie-discription>.add-to-fav-1{
  background-color: transparent;
  border: 0px;
  position: absolute;
  top:80%;
  right: 15%;
  height: 50px;
  width: 50px;
  /* https://cdn-icons-png.flaticon.com/512/6924/6924811.png */
  background: url( https://cdn-icons-png.flaticon.com/512/6924/6924811.png) no-repeat; 
  /* background: url( https://cdn-icons-png.flaticon.com/512/786/786251.png) no-repeat;  */

  /* https://cdn-icons-png.flaticon.com/512/6924/6924811.png */
  /* https://cdn-icons-png.flaticon.com/512/786/786251.png */
  background-size: cover;
  
}

.similar-movie-discription>.add-to-fav-2{
  background-color: transparent;
  border: 0px;
  position: absolute;
  top:80%;
  right: 15%;
  height: 50px;
  width: 50px;
  /* https://cdn-icons-png.flaticon.com/512/6924/6924811.png */
  background: url( https://cdn-icons-png.flaticon.com/512/5667/5667029.png  ) no-repeat; 
  /* background: url( https://cdn-icons-png.flaticon.com/512/786/786251.png) no-repeat;  */

  /* https://cdn-icons-png.flaticon.com/512/6924/6924811.png */
  /* https://cdn-icons-png.flaticon.com/512/786/786251.png */
  background-size: cover;
  
}
@media only screen and (max-width: 820px) {
  .container {
    grid-template-columns: 1fr;
    max-height: 250vh;
    margin-top: 5vh;
    grid-template-rows: 0.5fr 2fr 2fr 2fr 0.5fr 0.5fr;
    grid-template-areas:
      "title"
      "poster"
      "short-details"
      "details"
      "rating"
      "watchlist";
  }
}
