/* ---------------------------------slider-session-------------------------------------------------------------  */

#slider-container {
  width: 90%;
  margin: auto;
  display: flex;
  height: 70vh;
  margin-top: 20vh;
}
#slider-inner-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 22, 22);
}

/* ---------------------------left-session------------------ */
#slider-inner-container > #left {
  width: 60%;
  height: 100%;
  padding: 15px;
}
#slider-inner-container > #left > a > img {
  width: 100%;
  height: 100%;
  padding: 0px 10px;
}

/* -------------------right-session---------------- */
#slider-inner-container > #right {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------------------details session----------- */
#slider-details-container {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 2fr 1fr;
  grid-template-areas:
    "title title title"
    "year runtime rating"
    "gener gener gener"
    "director director director"
    "plot plot plot"
    "watchlater watchlater watchlater";
}
/* -------details-components---------------------- */
#movie-title-container {
  grid-area: title;
  display: flex;
  justify-content: center;
  align-items: center;
}
#movie-rating-container {
  grid-area: rating;
}
#movie-year-container {
  grid-area: year;
}
#movie-runtime-container {
  grid-area: runtime;
}
#movie-director-container {
  grid-area: director;
}
#movie-gener-container {
  grid-area: gener;
}
#movie-plot-container {
  grid-area: plot;
}
#movie-watchlater-container {
  grid-area: watchlater;
}
/* -------end of---------------details-components---------------------- */

/* -----------------------upnext-session--------------------------------------------------------- */
#upnext-container {
  height: 100%;
  width: 40%;
  background-color: rgb(21, 21, 20);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#upnext-inner-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 90%;
  height: 80%;
}
#upnext-movie-card {
  height: 200px;
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 22, 22);
}
#upnext-img-container {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#upnext-container > h1 {
  padding-top: 30px;
}
#upnext-img-container > a {
  color: transparent;
}
#upnext-img-container > a > img {
  padding: 10px;
  height: 110px;
  width: 100%;
  max-width: 100px;
}
#upnext-movie-title {
  width: 58%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
#upnext-movie-title > a > h4 {
  padding: 10px;
}

@media only screen and (max-width: 1020px) {
  #slider-container {
    flex-direction: column;
    height: 150vh;
    margin-top: 19vh;
  }
  #slider-inner-container {
    height: 50%;
    width: 100%;
  }
  #upnext-container {
    height: 50%;
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  #slider-container {
    flex-direction: column;
    height: 200vh;
    margin-top: 19vh auto 20vh auto;
  }

  #slider-inner-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 5vh auto 5vh auto;

  }

  #slider-inner-container > #left {
    width: 100%;
    height: 60vh;
  }
  #slider-inner-container > #left > a > img {
    width: 350px;
    height: 500px;
  }

  #upnext-container {
    height: 30%;
    width: 100%;
  }

  #slider-inner-container > #right {
    width: 90%;
    height: 60vh;
  }

  
}
